@import "_mixin.scss";
@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(50px);
    overflow-x: hidden;
    .list {
        width: 1700px;
        height: 100%;
        padding-left: pxTorem(10px);
        span {
            line-height: pxTorem(50px);
            padding: pxTorem(6px) pxTorem(10px);
            font-size: pxTorem(14px);
        }
        .active {
            color: red;
            border-bottom: pxTorem(1px) solid red;
        }
    }
}

section {
    width: 100%;
    flex: 1;
}

footer {
    width: 100%;
    height: pxTroem(44px);
}